{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="form-group row">
        <div class="col-sm-7">
            <h1 class="h3 mb-3 font-weight-normal">Article: {{ article.title }}</h1>
        </div>
        <div class="col-sm-1">
            <a href="{{ path('article_index') }}" class="btn btn-outline-info">back to list</a>
        </div>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Text:</th>
                <td>{{ article.text }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="col-sm-1">
            <a href="{{ path('comment_new', {'articleId': article.id}) }}" class="btn btn-success">Write a comment</a>
        </div>
    {% endif %}

    {{ include('@root/comment/index.html.twig') }}
{% endblock %}